:root {
    font-family: sans-serif;
    background-color:#FF5C00;
}



.index {
    flex:auto;
    flex-direction:row;
    /* gap:2vw; */
    justify-content: space-between;
    align-items: center;
    display:flex;
    margin:40px;
    overflow-x:auto;
    overflow-y:hidden;
    height:80vh;
    padding-left:2vw;
    padding-right:2vw;


}

.coneimage {
    height:90%;
    position: relative;
    display:flex;
    flex-shrink: 0;
    cursor: move;


}

@keyframes shake {
  0%   { rotate: 0deg; }
  25%  { rotate: -3deg; }
  50%  { rotate: 0deg; }
  75%  { rotate: 3deg; }
  100% { rotate: 0deg; }
}

.shake {
  animation: shake 0.3s infinite;
}

.shake:hover {
    animation: none;
}


.indexlink {
    position:absolute;
    top: 50%; 
    left: 50%;
    z-index: 100000;
    width: 20vw;
    transform: translate(-50%, -50%);
}

.conetoindex img {
    height: auto; 
    width: 100%;
    display: block;

}

.conetoindex {
    position: absolute;
    display: block;
    width: 14.18%;
}

.conetoreading1 {
    position:absolute;
    top: 35%; 
    left: 75%;
    z-index: 100000;

}


.boxsix {
    height: 600px;
    width: 600px;
    background-color:#fe9e6696; /*need to change at final*/
    display: block;
    transform: translate(70%, 10%);
    position: inherit;

}

.readingsix {
    padding: 5%;
}

.readingfour {
    padding:5%;
}

.readingtwo {
    padding:5%;
}

a {

    z-index: 100000;
}

.boxfour {
    height: 400px;
    width: 400px;
    background-color:#fe9e6696; /*need to change at final*/
    display: block;
    transform: translate(20%, 20%);
    position: inherit;

}


.boxtwo {
    height: 400px;
    width: 400px;
    background-color:#fe9e6696; /*need to change at final*/
    display: block;
    transform: translate(80%, 35%);
    position: inherit;

}


.arrowforindex {
    z-index:1000;
    background-color:#ffffff; /*need to change at final*/
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2vw;
    padding-bottom: 2vw;



}

.imagebgcolor {
    background-color:#ffffff; /*need to change at final*/

}


    .home {
        position:relative;
        width:100vw;
        height:62vw;
    }
 
    .objectone {
        position:absolute;
        top:5%;
        left:2%;
        transform: scale(0.2);
        height:auto;

    }
 
    .objecttwo {
        position:absolute;
        top:3%;
        left:29%;
        transform: scale(0.3);
        height:auto;
    }
 
    .objectthree {
        position:absolute;
        top:20%;
        left:35%;
        transform: scale(0.3);
        height:auto;

    }
 
    .objectfour {
        position:absolute;
        top:3%;
        left:70%;
        transform: scale(0.4);
        height:auto;

    }
 
    .objectfive {
        position:absolute;
        top:36%;
        left:60%;
        transform: scale(0.3);
        height:auto;

    }
 
    .objectsix {
        position:absolute;
        top:24%;
        left:1%;
        transform: scale(0.3);
        height:auto;

    }
 
    .objectseven {
        position:absolute;
        top:20%;
        left:37%;
        transform: scale(0.4);
        height:auto;

    }
 
    .objecteight {
        position:absolute;
        top:30%;
        left:62%;
        transform: scale(0.5);
        height:auto;


    }

    .navmove {

    }