:root {
    background-color: #FF5C00;
}

.index {
    flex:auto;
    flex-direction:row;
    gap:2vw;
    justify-content: space-between;
    align-items: center;
    display:flex;
    margin:40px;
    overflow-x:auto;
    overflow-y:hidden;
    height:80vh;
    background-color: rgb(255, 255, 255);
    

}

.coneimage {
    height:90vh;
    position: relative;
    display:flex;
    flex-shrink: 0;

}

@keyframes shake {
  0%   { rotate: 0deg; }
  25%  { rotate: -3deg; }
  50%  { rotate: 0deg; }
  75%  { rotate: 3deg; }
  100% { rotate: 0deg; }
}

.shake {
  animation: shake 0.3s infinite;
}

.shake:hover {
    animation: none;
}

