:root {
    background-color: #FF5C00;
    font-family: sans-serif;
}

.index {
    flex:auto;
    flex-direction:row;
    gap:2vw;
    justify-content: space-between;
    align-items: center;
    display:flex;
    margin:40px;
    overflow-x:auto;
    overflow-y:hidden;
    height:80vh;
    background-color: rgb(255, 255, 255); /*need todelete at final*/
    

}

.coneimage {
    height:90vh;
    position: relative;
    display:flex;
    flex-shrink: 0;

}

@keyframes shake {
  0%   { rotate: 0deg; }
  25%  { rotate: -3deg; }
  50%  { rotate: 0deg; }
  75%  { rotate: 3deg; }
  100% { rotate: 0deg; }
}

.shake {
  animation: shake 0.3s infinite;
}

.shake:hover {
    animation: none;
}


.indexlink {
    position:absolute;
    background-color: aqua; /*need todelete at final*/
    top: 50%; 
    left: 50%;
    z-index: 100000;
    width: 20vw;
    transform: translate(-50%, -50%);
}

.conetoindex img {
    height: auto; 
    width: 100%;
    display: block;

}

.conetoindex {
    position: absolute;
    display: block;
    width: 14.18%;
}

.conetoreading1 {
    position:absolute;
    background-color: gray; /*need todelete at final*/
    top: 35.81%; 
    left: 34.72%;
    z-index: 100000;
}


.boxsix {
    height: 600px;
    width: 600px;
    background-color:#fe9e6696; /*need to change at final*/
    display: block;
    transform: translate(70%, 50%);
    position: inherit;

}

.readingsix {
    padding: 5%;

}

a {

    z-index: 100000;
}